@charset "utf-8";

$code-background-color: seashell;
$code-border-radius: 4px;
$code-font-size: 11pt;
$content-max-width: 800px;
$content-horizontal-padding: 40px;
$link-color: steelblue;
$link-color-visited: rebeccapurple;
$text-color: black;
$quote-text-color: #444444;
$quote-line-color: #444444;
$post-meta-text-color: dimgrey;
$link-color-disabled: dimgrey;
$nav-link-space: 1rem;
$flair: rebeccapurple;
$install-background: lighten($flair, 50%);

body {
  color: $text-color;
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

// Display content with a different background colour
div#content {
  padding-left: $content-horizontal-padding;
  padding-right: $content-horizontal-padding;
}

// Use sans-serif font for headings
h1, h2, h3, h4, h5, h6 {
  font-family: Sans-Serif;
}

// Customize colours for links. This is mostly so that visited nav
// links can be made to be the same colour as unvisited links without
// having to guess the style for unvisited links.
a {
  color: $link-color;
  &:visited {
    color: $link-color-visited;
  }
}

// For links in headings and navigation elements, don't change the
// colour if the link has been visited.
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, nav a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
}

// This is used for places where there would normally be a navigation
// link for the next or previous page, but this is the first or last
// post in a sequence so there is no next or previous post.
.disabled-link {
  color: $link-color-disabled;
}

// Prevent images in articles appearing wider than the article body.
article img {
  max-width: 100%;
}

// Date and tags subheading of posts
p.post-meta {
  color: $post-meta-text-color;
}

// Dates in lists of posts
span.post-link-date {
  color: $post-meta-text-color;
}

// Links at the top of each page
div.header-nav-container ul {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  list-style: none;
  display: flex;
  align-items: end;
  border-bottom: 2px solid $flair;
  height: 64px; // makes room for the logo before the logo loads

  li {
    padding-bottom: 2px;
    display: flex;
    align-items: end;
    height: 100%;
  }

  li.logo {
    padding-bottom: 0;
  }

  li.first-rhs {
    margin-left: auto;
  }

  li.rhs {
    margin-right: $nav-link-space;
  }

  a {
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: end;
    height: 100%;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Next and previous post links
div.next-prev-nav-container ul {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  list-style: none;
  display: flex;

  li.nav-prev {
    padding-right: 40px;
  }

  li.nav-next {
    padding-left: 40px;
    margin-left: auto;
  }
}

// Copyright information at the bottom of each page
ul.copyright {
  list-style: none;
  text-align: center;

  li {
    display: block;
  }
}

footer {
  border-top: 2px solid $flair;
}

// Lists of links at the bottom of each page
div.footer-nav-container {
  border-top: 2px solid $flair;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      display: block;
    }
  }
}

article {
  p {
    line-height: 150%;
  }
  ul li {
    line-height: 150%;
  }
  ol li {
    line-height: 150%;
  }
}

code {
  font-size: $code-font-size; 
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  background-color: $code-background-color;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: $code-border-radius;
}

a:hover code {
  background-color: transparent;
}

pre {
  border: 2px solid $flair;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow: auto;
}

pre code {
  line-height: 120%;
  background-color: $code-background-color;
  display: block;
  padding: 10px;
}

// Anchor headings are rendered like regular headings rather than
// links.
a.zola-anchor {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
  }
}

blockquote {
  color: $quote-text-color;
  border-left: 4px solid $quote-line-color;
  margin-left: 0;
  padding-left: 2rem;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    visibility: hidden;
  }
}

.code-with-copy-button {
  $copy-button-size: 30px;
  position: relative;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: $code-background-color;
  border-radius: $code-border-radius;

  & > pre {
    position: relative;
    width:100%;
    padding: 0;
    margin: 0;
  }

  .code-copy-button {
    background-color: color-mix(in srgb, lightgrey 40%, transparent);
    border: 2px solid color-mix(in srgb, darkgrey 40%, transparent);
    border-radius: $code-border-radius;
    position: absolute;
    top: 5px;
    right: 1.5px;
    height: $copy-button-size;
    width: $copy-button-size;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2252%22%20height%3D%2252%22%20viewBox%3D%220%200%2052%2052%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20%20stroke%3D%22black%22%20strokeWidth%3D%221.5%22%20strokeLinecap%3D%22round%22%20strokeLinejoin%3D%22round%22%20d%3D%22M29.6364%2030.9231V34.7308C29.6364%2035.4314%2029.1476%2036%2028.5455%2036H19.0909C18.8016%2036%2018.5241%2035.8663%2018.3195%2035.6283C18.1149%2035.3902%2018%2035.0674%2018%2034.7308V20.3462C18%2019.6455%2018.4887%2019.0769%2019.0909%2019.0769H20.9091C21.3964%2019.0765%2021.883%2019.1233%2022.3636%2019.2168M29.6364%2030.9231H32.9091C33.5113%2030.9231%2034%2030.3545%2034%2029.6538V24.1538C34%2019.1221%2030.8553%2014.9466%2026.7273%2014.1399C26.2466%2014.0464%2025.7601%2013.9996%2025.2727%2014H23.4545C22.8524%2014%2022.3636%2014.5686%2022.3636%2015.2692V19.2168M29.6364%2030.9231H23.4545C23.1652%2030.9231%2022.8877%2030.7894%2022.6832%2030.5513C22.4786%2030.3133%2022.3636%2029.9905%2022.3636%2029.6538V19.2168M34%2026.6923V24.5769C34%2023.5671%2033.6552%2022.5986%2033.0414%2021.8845C32.4277%2021.1704%2031.5953%2020.7692%2030.7273%2020.7692H29.2727C28.9834%2020.7692%2028.7059%2020.6355%2028.5013%2020.3975C28.2968%2020.1595%2028.1818%2019.8366%2028.1818%2019.5V17.8077C28.1818%2017.3077%2028.0972%2016.8125%2027.9327%2016.3506C27.7682%2015.8886%2027.5272%2015.4688%2027.2233%2015.1152C26.9194%2014.7617%2026.5586%2014.4812%2026.1615%2014.2898C25.7644%2014.0985%2025.3389%2014%2024.9091%2014H23.8182%22%20%2F%3E%3C%2Fsvg%3E');
    background-position: top -7px left -7px;
    background-size: 150%;
    transition: 0.2s;
    &:hover {
      background-color: color-mix(in srgb, lightgrey 90%, transparent);
      border: 2px solid color-mix(in srgb, darkgrey 90%, transparent);
    }
    &:active {
      transition: 0.0s;
      background-color: $flair;
      background-position: top -6px left -6px;
    }
  }
}

.code-with-prompt {
  code {
    &:before {
      content: "$";
      margin-left: 0ch;
      margin-right: 1ch;
    }
  }
}

.os-picker {
  margin: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin: 0;
      button {
        border-radius: $code-border-radius $code-border-radius 0 0;
        font-size: 1rem;
        margin: 0;
        padding: 10px;
        background: none;
        border: none;
        font-weight: bold;
      }
      button.selected {
        background-color: $install-background;
      }
    }
  }
}

.os {
  position: relative;
  top: -$code-border-radius;
  margin: 0;
  padding: 10px;
  background-color: $install-background;
  border-radius: $code-border-radius;
  p {
    margin-top: $code-border-radius;
  }
}
